{% extends 'model_app/base.html' %}
{% block content %}
<div class="row"><br></div>



<div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-5" style="background-color:cornsilk; padding: 5vh;">
            <div class="row">

<div class="col-md-1"></div>
<div class="col-md-10"><h2 style="font-family: 'Poppins', sans-serif; font-weight: 700;">Add New Book</h2></div>
<div class="col-md-1"></div>

</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form> 
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
        
        </div>

           

{% endblock %}